/*--------------------------------------------------------------
# Buttons (need to add to global styles when available)
--------------------------------------------------------------*/

.wp-block-button__link {
    letter-spacing: 1px;
    text-transform: uppercase;
}

.wp-block-button__link:hover {
    opacity: var(--wp--custom--opacity--button);
    text-decoration: none;
}

/*--------------------------------------------------------------
# Code
--------------------------------------------------------------*/

/* Hopefully we can remove most of this and rely on global styles in the future */
.wp-block-code {
	border: none;
    padding: 1.2em 1.5em;
    background-color: var(--wp--preset--color--backgrounds);
    border-radius: 4px;
    color: var(--wp--preset--color--foreground);
    font-size: var(--wp--preset--font-size--small);
    font-family: var(--wp--preset--font-family--monospace-code);
}

/*--------------------------------------------------------------
# Columns
--------------------------------------------------------------*/

/* Add blockGap vertical spacing for the Columns block on mobile. */
@media (min-width: 600px) and (max-width: 781px) {
    .wp-block-columns:not(.is-not-stacked-on-mobile)>.wp-block-column:not(:nth-child(-n+2)) {
        margin-top: var(--wp--style--block-gap,2em);
    }
}

@media (max-width: 599px) {
    .wp-block-columns:not(.is-not-stacked-on-mobile)>.wp-block-column:not(:first-child) {
        margin-top: var(--wp--style--block-gap,2em);
    }
}

/* Make the sidebar appear below the content on mobile */
@media (max-width: 782px) {
    .wp-block-columns.column-reverse-on-mobile {
        flex-direction: column-reverse;
    }
}

/* Make a sidebar optionally stick on desktops */
@media (min-width: 782px) {
	.wp-block-column.is-sticky-column {
		position: sticky;
		position: -webkit-sticky;
		top: 30px;
	}
}

/*--------------------------------------------------------------
# Comments (Ultimately all needs to be controlled in FSE)
--------------------------------------------------------------*/

.comment-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.comment-list .children {
    list-style: none;
    margin: 0;
    padding: 0;
}

.comment {
	border: 1px solid var(--wp--preset--color--tertiary);
    border-radius: 4px;
    margin-top: 30px;
    padding: 30px;
}

.wp-block-post-comments .comment-author {
    display: flex;
    align-items: center;
    margin: 0;
}

.wp-block-post-comments .comment-author .avatar {
    border-radius: 50%;
    margin-right: 10px;
}

 .wp-block-post-comments .comment-author .says {
    margin-left: 10px;
	margin-right: 0;
}

.wp-block-post-comments .comment-meta {
    margin-left: 55px;
    margin-top: -5px;
}

.wp-block-post-comments .comment-meta a {
    font-size: var(--wp--preset--font-size--extra-small);
	font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--wp--preset--color--foreground);
}

.comment-reply-title {
    font-size: var(--wp--preset--font-size--extra-large);
}

.wp-block-post-comments input:not(.submit),
.wp-block-post-comments textarea {
    border-color: var(--wp--preset--color--tertiary);
}

/* Fix an erroneous base theme style */
.wp-block-post-comments input.submit {
    border-color: var(--wp--preset--color--foreground);
}

.wp-block-post-comments .comment-form-author,
.wp-block-post-comments .comment-form-email,
.wp-block-post-comments .comment-form-url {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wp-block-post-comments .comment-form-author label,
.wp-block-post-comments .comment-form-email label,
.wp-block-post-comments .comment-form-url label {
    min-width: 100px;
}

.wp-block-post-comments .comment-form-author input,
.wp-block-post-comments .comment-form-email input,
.wp-block-post-comments .comment-form-url input {
    display: inline-block;
    width: 100%;
}

/*--------------------------------------------------------------
# Editor Post Title
--------------------------------------------------------------*/

/* Makes the post title in the editor more consistent with the theme */
.editor-post-title .editor-post-title__input {
	font-weight: 600;
}

/*--------------------------------------------------------------
# Media & Text
--------------------------------------------------------------*/

.wp-block-media-text:not(.has-media-on-the-right) .wp-block-media-text__content {
	padding: 0 0 0 16%;
}

.wp-block-media-text.has-media-on-the-right .wp-block-media-text__content {
	padding: 0 16% 0 0;
}

@media (max-width: 728px) {
	.wp-block-media-text .wp-block-media-text__content,
	.wp-block-media-text.has-media-on-the-right .wp-block-media-text__content {
		margin-top: 1em;
		padding: 0 !important;
	}

	.wp-block-media-text.is-stacked-on-mobile {
	    -ms-grid-columns: 100%!important;
	    grid-template-columns: 100%!important;
	}

	.wp-block-media-text.is-stacked-on-mobile .wp-block-media-text__media {
	    -ms-grid-column: 1;
	    grid-column: 1;
	    -ms-grid-row: 1;
	    grid-row: 1;
	}

	.wp-block-media-text.is-stacked-on-mobile .wp-block-media-text__content {
	    -ms-grid-column: 1;
	    grid-column: 1;
	    -ms-grid-row: 2;
	    grid-row: 2;
	}
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Temp fix for when navigation items are in a column, should be fixed in future */
/* .wp-block-columns .wp-block-navigation__container>.wp-block-navigation-link,
.wp-block-columns .wp-block-page-list,
.wp-block-columns .wp-block-page-list>.wp-block-pages-list__item {
    margin-right: 2em;
}

.wp-block-columns .wp-block-navigation__container>.wp-block-navigation-link:last-child,
.wp-block-columns .wp-block-page-list:last-child,
.wp-block-columns .wp-block-page-list>.wp-block-pages-list__item:last-child {
    margin-right: 0;
}

.wp-block-navigation.is-vertical a.wp-block-navigation-link__content {
	padding: .25em 0;
}

.wp-block-navigation a:hover {
	opacity: var(--wp--custom--opacity--link);
}

.wp-block-navigation .current-menu-item > a {
	font-weight: 600;
}

.wp-block-navigation .has-child .wp-block-navigation__container {
    font-size: .9em;
    min-width: 150px;
	border: none;
    border-radius: 4px;
    flex-direction: column;
	-webkit-box-shadow: 2px 2px 12px 0 rgba(0,0,0,.3);
    box-shadow: 2px 2px 12px 0 rgba(0,0,0,.3);
}

.wp-block-navigation .wp-block-navigation-link__label {
	white-space: nowrap !important;
} */

/* Specific styling for the navigation button block style */
.wp-block-navigation li.is-style-navigation-button {
	padding-right: 1em;
	padding-left: 1em;
}

.wp-block-navigation li.is-style-navigation-button:last-child {
	padding-right: 0;
	padding-left: 0;
}

.wp-block-navigation.is-vertical li.is-style-navigation-button {
	padding-top: .5em;
	padding-bottom: .5em;
}

.wp-block-navigation .is-style-navigation-button {
	padding: .5em 1em !important;
    border: 2px solid var(--wp--preset--color--foreground);
    border-radius: 4px;
    background: transparent;
    color: var(--wp--preset--color--foreground);
    cursor: pointer;
    font-size: var(--wp--preset--font-size--small);
    letter-spacing: 1px;
    text-transform: uppercase;
}

.wp-block-navigation .is-style-navigation-button a {
    font-weight: 600;
    transition: none;
}

.wp-block-navigation .is-style-navigation-button a:hover {
    opacity: 1;
}

.wp-block-navigation .is-style-navigation-button:hover {
    opacity: var(--wp--custom--opacity--button);
}

/* Manual fix so theme link styling is not applied */
/* .wp-block-navigation ul.wp-block-navigation-link__container {
    margin-top: 0;
    margin-bottom: 0;
}

.wp-block-navigation ul.wp-block-navigation-link__container li {
    margin-bottom: 0;
	font-size: 16px;
} */

/*--------------------------------------------------------------
# Paragraph
--------------------------------------------------------------*/

p.is-style-paragraph-intro {
	font-size: var(--wp--preset--font-size--large);
	font-weight: 600;
    line-height: 1.5;
	margin-bottom: 2em;
}

/*--------------------------------------------------------------
# Post Categories & Post Tags
--------------------------------------------------------------*/

/* Hack to hide the category seperator since there is currently no way to remove this */
.wp-block-post-terms.is-style-pill-link {
	color: transparent;
}

/* First selector needed for the Block Editor. */
.is-style-pill-link ul,
ul.is-style-pill-link {
	padding-left: 0;
	list-style-type: none;
}

.is-style-pill-link ul li:not(:last-child),
ul.is-style-pill-link li:not(:last-child) {
	margin-bottom: 10px;
}

.is-style-pill-link a,
a.is-style-pill-link {
	background: none;
	background-color: var(--wp--preset--color--backgrounds);
	border-bottom: 0;
	border-radius: 4px;
	box-shadow: none;
	color: var(--wp--preset--color--foreground);
	display: inline-block;
    font-weight: 600;
	letter-spacing: .1em;
	margin-bottom: .75em;
	padding: .3em .8em;;
	text-decoration: none;
	text-transform: uppercase;
}

.is-style-pill-link a:hover,
a.is-style-pill-link:hover {
	color: #fff;
	background-color: var(--wp--preset--color--foreground);
    text-decoration: none;
}

/*--------------------------------------------------------------
# Query Pagination
--------------------------------------------------------------*/

/* Hopefully remove when alignment is added to pagination */
.wp-block-query-pagination {
	justify-content: center;
}

.wp-block-query-pagination a,
.wp-block-query-pagination span {
	background: transparent;
	border: 2px solid var(--wp--preset--color--foreground);
	border-radius: 4px;
	color: var(--wp--preset--color--foreground);
	cursor: pointer;
	transition: all 0.2s ease-in-out;
	padding: 10px 15px;
	display: inline-block;
	line-height: 1;
}

.wp-block-query-pagination span,
.wp-block-query-pagination a:hover {
    background: var(--wp--preset--color--foreground);
    color: white;
    text-decoration: none;
}

/*--------------------------------------------------------------
# Search
--------------------------------------------------------------*/

.wp-block-search .wp-block-search__input {
	border: 1px solid var(--wp--preset--color--tertiary);
}

.wp-block-search button.wp-block-search__button {
	background: transparent;
	border: 2px solid var(--wp--preset--color--foreground);
	border-radius: 4px;
	color: var(--wp--preset--color--foreground);
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

.wp-block-search button.wp-block-search__button:hover {
    background: var(--wp--preset--color--foreground);
    color: white;
}

.wp-block-search button.wp-block-search__button:hover svg {
    fill: white;
}

/*--------------------------------------------------------------
# Separator
--------------------------------------------------------------*/

.wp-block-separator {
	opacity: 1;
}

/*--------------------------------------------------------------
# Social Links
--------------------------------------------------------------*/

.wp-block-social-links.is-style-logos-only a,
.wp-block-social-links.is-style-logos-only .wp-social-link button {
	padding: 0;
}

/*--------------------------------------------------------------
# Table
--------------------------------------------------------------*/

.wp-block-table td,
.wp-block-table th {
    padding: .8em 1em;
    border: 1px solid var(--wp--preset--color--tertiary);
}

/*--------------------------------------------------------------
# Block Patterns
--------------------------------------------------------------*/

/* Small quote block style */
.is-style-small-quote {
	position: relative;
	font-size: 16px;
	border: none;
	padding: 0;
}

.is-style-small-quote:before {
	color: inherit;
    content: "“";
    font-size: 150px;
    position: absolute;
    font-weight: 600;
	top: -100px;
	left: -37px;
    font-family: Times, serif;
    opacity: .1;
}

@media screen and (max-width: 782px) {

	.is-style-small-quote {
		margin-top: 80px;
	}

	.is-style-small-quote:before {
		top: -150px;
		left: 40%;
	}
}

/* Pricing table for the columns block */
.is-style-pricing-table ul {
	font-size: 14px;
    text-align: center;
    padding: 0;
    list-style-type: none;
}

.is-style-pricing-table ul li {
	margin-bottom: .5em;
}

.is-style-pricing-table .price {
	line-height: 1;
}

.is-style-pricing-table .price sup {
	font-size: .3em;
	font-weight: normal;
    margin-top: 12px;
	margin-right: 6px;
    display: inline-block;
    vertical-align: top;
    color: var(--wp--preset--color--secondary);
}

.is-style-pricing-table .price sub {
	font-size: .2em;
	font-weight: normal;
    display: inline-block;
    vertical-align: baseline;
    color: var(--wp--preset--color--secondary);
}

/* Badge styles */
.is-badge-list span,
.is-badge-list a {
	text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: .05em;
    display: inline-block;
    border: 1px solid var(--wp--preset--color--secondary);
    border-radius: 50px;
    padding: 2px 10px;
    margin-right: 5px;
}

.is-badge-list a {
    border: 1px solid var(--wp--preset--color--primary);
}

.is-badge-list a:hover {
    background-color: var(--wp--preset--color--primary);
	color: #ffffff !important;
	text-decoration: none;
}

/* Icon styles */
.is-icon-container {
    padding: 15px;
    background: #fff;
    border-radius: 4px;
    display: inline-block;
    line-height: 0;
    margin: 40px 0 25px;
    box-shadow: 0 0 30px rgb(0 0 0 / 8%);
}

.is-icon-container svg {
	width: 36px;
    height: 36px;
}

/*--------------------------------------------------------------
# Block Styles
--------------------------------------------------------------*/

.is-style-no-margin {
    margin: 0 !important;
}

.is-style-dropshadow,
img.is-style-dropshadow,
.is-style-dropshadow > img {
    /* box-shadow: 0 10px 30px rgba(0, 0, 0, 0.12); */
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.06), 0 0 2px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06)
}

.is-style-dropshadow:hover {
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
}
