/*--------------------------------------------------------------
# Buttons (need to add to global styles when available)
--------------------------------------------------------------*/

.wp-block-button .wp-block-button__link {
	background: transparent;
	border: 2px solid;
	border-radius: 4px;
    cursor: pointer;
    font-size: var(--wp--preset--font-size--small);
    font-weight: 600;
    letter-spacing: 1px;
    padding: .75em 1.25em;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
}

.wp-block-button .wp-block-button__link:visited {
    color: inherit;
}

/* Outlined Black button style */
.wp-block-button.is-style-outlined-black .wp-block-button__link {
	background: transparent;
	border-color: var(--wp--preset--color--primary);
	color: var(--wp--preset--color--primary);
}

.wp-block-button.is-style-outlined-black .wp-block-button__link:hover,
.wp-block-button.is-style-outlined-black .wp-block-button__link:visited:hover {
	background: var(--wp--preset--color--primary);
    color: white;
}

/* Outlined White button style */
.wp-block-button.is-style-outlined-white .wp-block-button__link {
	background: transparent;
	border-color: white;
	color: white;
}

.wp-block-button.is-style-outlined-white .wp-block-button__link:hover,
.wp-block-button.is-style-outlined-white .wp-block-button__link:visited:hover {
	background: white;
    color: var(--wp--preset--color--primary);
}

/* Filled Black button style */
.wp-block-button.is-style-filled-black .wp-block-button__link {
	background: var(--wp--preset--color--primary);
	border-color: var(--wp--preset--color--primary);
	color: white;
}

.wp-block-button.is-style-filled-black .wp-block-button__link:hover,
.wp-block-button.is-style-filled-black .wp-block-button__link:visited:hover {
	background: transparent;
    color: var(--wp--preset--color--primary);
}

/* Filled White button style */
.wp-block-button.is-style-filled-white .wp-block-button__link {
	background: white;
	border-color: white;
	color: var(--wp--preset--color--primary);
}

.wp-block-button.is-style-filled-white .wp-block-button__link:hover,
.wp-block-button.is-style-filled-white .wp-block-button__link:visited:hover {
	background: transparent;
	border-color: white;
	color: white;
}

/* The following is a fix for the frontend, not needed on the editor */
.wp-block-buttons > .wp-block-button {
	margin-left: 0;
}

/* The following is a fix for the editor, not needed on the frontend */
.wp-block-buttons > .wp-block-button {
    margin-right: .5em;
}

.wp-block-buttons.is-content-justification-right>.wp-block-button {
	margin-left: .5em;
	margin-right: 0;
}

.wp-block-buttons.is-content-justification-right>.wp-block-button:first-child {
	margin-left: 0;
}

/*--------------------------------------------------------------
# Code
--------------------------------------------------------------*/

.wp-block-code {
	border: none;
}

/*--------------------------------------------------------------
# Columns (provide support for sidebar layout)
--------------------------------------------------------------*/

@media (min-width: 782px) {
	.sidebar-content .wp-block-column:not(:first-child) {
		margin-left: 4em;
	}
}
@media (max-width: 782px) {
	.wp-block-column {
		flex-basis: 100% !important;
		min-width: 100% !important;
	}

	.wp-block-column:nth-child(2n) {
		margin-left: 0;
		margin-right: 0;
	}
}
/*--------------------------------------------------------------
# Comments (Ultimately all needs to be controlled in FSE)
--------------------------------------------------------------*/

.comment-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.comment-list .children {
    list-style: none;
    margin: 0;
    padding: 0;
}

.comment {
	border: 1px solid var(--wp--preset--color--border);
    border-bottom-width: 4px;
    border-radius: 4px;
    margin-top: 30px;
    padding: 30px;
}

.comment-author {
	display: flex;
    align-items: center;
}

/* Need to add 'div' to override some default styles, need to fix in future */
div.comment-author cite {
	font-style: normal;
	margin-left: 0;
	margin-right: 0;
}

div.comment-author img {
    border-radius: 50%;
	margin-left: 0;
    margin-right: 10px;
}

div.comment-author .says {
    margin-left: 10px;
	margin-right: 0;
}

.comment-meta a {
    font-size: var(--wp--preset--font-size--extra-small);
	font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--wp--preset--color--primary);
}

.comment-meta a:hover {
    color: var(--wp--preset--color--secondary);
}

.comment-reply-title {
    font-size: var(--wp--preset--font-size--extra-large);
}

.comment-respond .comment-form-author,
.comment-respond .comment-form-email,
.comment-respond .comment-form-url {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment-respond .comment-form-author label,
.comment-respond .comment-form-email label,
.comment-respond .comment-form-url label {
    min-width: 100px;
}

.comment-respond .comment-form-author input,
.comment-respond .comment-form-email input,
.comment-respond .comment-form-url input {
    display: inline-block;
    width: 100%;
}

/*--------------------------------------------------------------
# Editor Post Title
--------------------------------------------------------------*/

.editor-post-title .editor-post-title__input {
	font-weight: 600;
}

/*--------------------------------------------------------------
# Group Block
--------------------------------------------------------------*/
.entry-content .wp-block-image {
	margin: 2em auto;
}

/*--------------------------------------------------------------
# List block
--------------------------------------------------------------*/

/* Condensed list block variation */
ol.is-style-condensed-list li,
ul.is-style-condensed-list li {
	margin: 0 auto .2em;
}


/*--------------------------------------------------------------
# Media & Text
--------------------------------------------------------------*/

.wp-block-media-text:not(.has-media-on-the-right) .wp-block-media-text__content {
	padding: 0 0 0 16%;
}

.wp-block-media-text.has-media-on-the-right .wp-block-media-text__content {
	padding: 0 16% 0 0;
}

@media (max-width: 728px) {
	.wp-block-media-text .wp-block-media-text__content,
	.wp-block-media-text.has-media-on-the-right .wp-block-media-text__content {
		margin-top: 1em;
		padding: 0 !important;
	}

	.wp-block-media-text.is-stacked-on-mobile {
	    -ms-grid-columns: 100%!important;
	    grid-template-columns: 100%!important;
	}

	.wp-block-media-text.is-stacked-on-mobile .wp-block-media-text__media {
	    -ms-grid-column: 1;
	    grid-column: 1;
	    -ms-grid-row: 1;
	    grid-row: 1;
	}
	
	.wp-block-media-text.is-stacked-on-mobile .wp-block-media-text__content {
	    -ms-grid-column: 1;
	    grid-column: 1;
	    -ms-grid-row: 2;
	    grid-row: 2;
	}
}

/*--------------------------------------------------------------
# More Link
--------------------------------------------------------------*/

.wp-block-post-excerpt__more-link {
	display: inline;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

.wp-block-navigation.is-vertical a.wp-block-navigation-link__content {
	padding: .25em 0;
}

.wp-block-navigation a {
	border: none;
	font-weight: normal;
	transition: none;
}

.wp-block-navigation a:hover {
	color: var(--wp--preset--color--secondary);
}

.wp-block-navigation .current-menu-item a {
	font-weight: 600;
}

.wp-block-navigation .has-child .wp-block-navigation__container {
    font-size: .9em;
    min-width: 150px;
	border: none;
    border-radius: 4px;
    flex-direction: column;
	-webkit-box-shadow: 2px 2px 12px 0 rgba(0,0,0,.3);
    box-shadow: 2px 2px 12px 0 rgba(0,0,0,.3);
}

.wp-block-navigation .wp-block-navigation-link__label {
	white-space: nowrap !important;
}

/* Specific styling for the navigation button block style */
.wp-block-navigation li.is-style-navigation-button {
	padding-right: 1em;
	padding-left: 1em;
}

.wp-block-navigation li.is-style-navigation-button:last-child {
	padding-right: 0;
	padding-left: 1em;
}

.wp-block-navigation.is-vertical li.is-style-navigation-button {
	padding-top: .5em;
	padding-bottom: .5em;
}

.wp-block-navigation li.is-style-navigation-button a {
	padding: .5em 1em;
}

/*--------------------------------------------------------------
# Paragraph
--------------------------------------------------------------*/

p.is-style-paragraph-intro {
	font-size: var(--wp--preset--font-size--large);
	font-weight: bold;
	margin-bottom: 2em;
}

/*--------------------------------------------------------------
# Post Categories & Post Tags
--------------------------------------------------------------*/

/* Hack to hide the category seperator since there is currently no way to remove this */
.wp-block-post-hierarchical-terms.is-style-pill-link {
	color: transparent;
}

ul.is-style-pill-link {
	padding-left: 0;
	list-style-type: none;
}

ul.is-style-pill-link li:not(:last-child) {
	margin-bottom: 10px;
}

.is-style-pill-link a,
a.is-style-pill-link {
	background: none;
	background-color: var(--wp--preset--color--background);
	border-bottom: 0;
	border-radius: 4px;
	box-shadow: none;
	color: var(--wp--preset--color--primary);
	display: inline-block;
	letter-spacing: .1em;
	margin-bottom: .75em;
	padding: .3em .8em;;
	text-decoration: none;
	text-transform: uppercase;
}

.is-style-pill-link a:hover,
a.is-style-pill-link:hover {
	color: #fff;
	background-color: var(--wp--preset--color--primary);
}

/*--------------------------------------------------------------
# Post Title
--------------------------------------------------------------*/

.wp-block-post-title a,
a.wp-block-post-title {
	border: none;
}

/*--------------------------------------------------------------
# Query block
--------------------------------------------------------------*/

.wp-site-blocks .wp-block-query-loop .alignright,
.wp-site-blocks .wp-block-query-loop .alignleft,
.wp-block-query-loop .wp-block[data-align="right"],
.wp-block-query-loop .wp-block[data-align="left"] {
	float: none;
	margin-left: 0;
}

/* !important needed temporarily until the Block Editor is rendered in an iframe */
@media (min-width: 600px) {
	.wp-site-blocks .wp-block-query-loop .alignright,
	.wp-site-blocks .wp-block-query-loop .alignleft,
	.wp-block-query-loop .wp-block[data-align="right"],
	.wp-block-query-loop .wp-block[data-align="left"] {
		float: right;
    	margin-left: 2em;
		max-width: 45% !important;
	}
}

/*--------------------------------------------------------------
# Query Pagination
--------------------------------------------------------------*/

/* Hopefully remove when alignment is added to pagination */
.wp-block-query-pagination {
	justify-content: center;
}

.wp-block-query-pagination a,
.wp-block-query-pagination span {
	background: transparent;
	border: 2px solid var(--wp--preset--color--primary);
	border-radius: 4px;
	color: var(--wp--preset--color--primary);
	cursor: pointer;
	transition: all 0.2s ease-in-out;
	padding: 10px 15px;
	display: inline-block;
	min-width: 42px;
	line-height: 1;
}

.wp-block-query-pagination span,
.wp-block-query-pagination a:hover {
    background: var(--wp--preset--color--primary);
    color: white;
}

/*--------------------------------------------------------------
# Search
--------------------------------------------------------------*/

.wp-block-search .wp-block-search__input {
	border: 1px solid var(--wp--preset--color--border);
}

.wp-block-search button.wp-block-search__button {
	background: transparent;
	border: 2px solid var(--wp--preset--color--primary);
	border-radius: 4px;
	color: var(--wp--preset--color--primary);
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

.wp-block-search button.wp-block-search__button:hover {
    background: var(--wp--preset--color--primary);
    color: white;
}

.wp-block-search button.wp-block-search__button:hover svg {
    fill: white;
}

/*--------------------------------------------------------------
# Separator
--------------------------------------------------------------*/

.wp-block-separator {
	clear: both;
	opacity: 1;
}

/*--------------------------------------------------------------
# Site Logo
--------------------------------------------------------------*/

/* There is a strange error with srcset and limited block controls. So manually fix for now. */
.wp-block-site-logo img {
	max-width: 250px;
}

.wp-block-site-logo a:hover {
	opacity: .6;
}

/*--------------------------------------------------------------
# Site Title
--------------------------------------------------------------*/

.wp-block-site-title a {
	border: none;
}

.wp-block-site-title a:hover {
	color: var(--wp--preset--color--primary);
	opacity: .6;
}

/*--------------------------------------------------------------
# Social Links
--------------------------------------------------------------*/

@media (max-width: 599px) {
	.wp-block-social-links.alignright {
		float: none !important;
		justify-content: flex-start !important;
	}
}

.wp-block-social-links.is-style-social-icons-simple .wp-social-link {
	background: none !important;
}

.wp-block-social-links.is-style-social-icons-simple .wp-social-link a,
.wp-block-social-links.is-style-social-icons-simple .wp-social-link button {
	color: var(--wp--preset--color--secondary);
	padding: 0;
}

.wp-block-social-links.is-style-social-icons-simple .wp-social-link a:hover,
.wp-block-social-links.is-style-social-icons-simple .wp-social-link button:hover {
	color: var(--wp--preset--color--primary);
	padding: 0;
}

/*--------------------------------------------------------------
# Block Patterns
--------------------------------------------------------------*/

.is-style-outermost-testimonial {
	display: grid;
    grid-template-columns: fit-content(200px) auto;
    align-items: center;
}

.is-style-outermost-testimonial .wp-block-image {
	grid-column: 1;
	grid-row: 1/3;
	line-height: 0;
	margin: 0 20px 0 0 !important;
}

.is-style-outermost-testimonial a {
	border: none;
}

.is-style-small-quote {
	position: relative;
	font-size: 16px;
	border: none;
	padding: 0;
}

.is-style-small-quote:before {
	color: #F5F5F2;
    content: "“";
    font-size: 150px;
    position: absolute;
    font-weight: 600;
	top: -100px;
	left: -37px;
    font-family: Times, serif;
    z-index: -1;
    opacity: .2;
}

@media screen and (max-width: 782px) {

	.is-style-small-quote {
		margin-top: 80px;
	}

	.is-style-small-quote:before {
		top: -150px;
		left: 40%;
	}
}
