/*--------------------------------------------------------------
# Editor Alignment Widths
--------------------------------------------------------------*/

.wp-block,
.post-featured-image_placeholder {
	max-width: var(--wp--custom--responsive--aligndefault-width);
}

.wp-block[data-align="wide"] {
	max-width: var(--wp--custom--responsive--alignwide-width);
}

.wp-block[data-align="full"],
.wp-block.wp-block-post-content {
	max-width: inherit;
	margin-left: -10px;
	margin-right: -10px;
}

.wp-block[data-align="right"] > *,
.wp-block[data-align="left"] > * {
	max-width: 100%;
}

.post-featured-image_placeholder {
	max-width: var(--wp--custom--responsive--aligndefault-width);
	margin: 0 auto 30px;
}
