/*--------------------------------------------------------------
# Defaults
--------------------------------------------------------------*/

a {
	cursor: pointer;
	text-underline-offset: 0.15em;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

b, strong {
    font-weight: 600;
}

ol, ul {
	margin-top: 0;
	margin-bottom: 0;
    padding-left: 1.5em;

	/* The width is not correct in the editor */
	box-sizing: border-box;
}

ol li,
ul li {
	margin-bottom: 0.75em;
}

li:last-child {
	margin-bottom: 0;
}

li>ol,
li>ul {
	margin-top: 1em;
	margin-bottom: 1em;
}

code, pre {
	font-family: var(--wp--preset--font-family--monospace-code);
}

/* In-line code styles */
:not(pre)>code {
	color: #555;
	background-color: var(--wp--preset--color--backgrounds);
	border-radius: 4px;
	font-size: 16px;
	padding: 4px 6px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

td, th {
    padding: .8em 1em;
    border: 1px solid var(--wp--preset--color--borders);
    font-size: var(--wp--preset--font-size--small);
	text-align: left;
}

th {
	background-color: var(--wp--preset--color--backgrounds);
}

input,
textarea,
select {
    border: 1px solid var(--wp--preset--color--borders);
    border-radius: 4px;
	color: var(--wp--preset--color--primary);
	font-family: var(--wp--preset--font-family--system-font);
	font-size: 18px;
	padding: 10px;
}

textarea {
	box-sizing: border-box;
    padding: 20px;
    width: 100%;
}

fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

/*--------------------------------------------------------------
# Random Fixes
--------------------------------------------------------------*/

/* When a link is added to an image, the border radius is not respected */
.post-featured-image a,
.wp-block-image a {
	border-radius: inherit;
}

/* Fix logo column flex-basis. Can be removed when native functionality for disabling mobile columns is released */
@media screen and (max-width: 782px) {
	.site-header .wp-block-columns .wp-block-column:first-child {
		flex-basis: 250px !important;
	}
}

/*--------------------------------------------------------------
# Entry Content (Post, Page, etc.)
#
# Note that this styling is not reflected in the Editor.
--------------------------------------------------------------*/

.entry-content > * {
	margin-top: 0;
    margin-bottom: 32px;
}

/* Temporary fix to override base styles */
.entry-content .wp-block-group.has-background {
	margin-top: 0;
	margin-bottom: 32px;
}

.entry-content h2 {
	margin-bottom: 24px;
}

.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6 {
	margin-bottom: 16px;
}

.entry-content > *:last-child {
	margin-bottom: 0;
}

.entry-content > .wp-block-spacer {
	margin-bottom: 0;
}

/*--------------------------------------------------------------
# Theme specific pattern styles
--------------------------------------------------------------*/

/* This is for the homepage posts grid */
.one-three-post-grid .alignright {
	max-width: 200px;
}

/* Specific styling for the article list on the category archive pages */
.article-category-query .wp-block-post-template li h2 {
	margin-top: 1.2em;
	margin-bottom: 1.2em;
}

.article-category-query .wp-block-post-template li h2:before {
	content: "\e873";
	font-family: 'Material Icons Outlined';
	font-weight: normal;
	margin-right: 8px;
	vertical-align: text-bottom;
	opacity: .4;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

@media screen and (max-width: 782px) {

	.site-footer .brand .alignright {
		float: none !important;
		justify-content: center !important;
		margin: 0 !important;
		text-align: center;
	}
}

/*--------------------------------------------------------------
# Alignment styles, hopefully remove when better responsive controls are available
--------------------------------------------------------------*/

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

@media screen and (max-width: 782px) {

    .mobile-text-left {
        text-align: left;
    }

	.mobile-text-center {
		text-align: center;
	}

	.mobile-text-right {
		text-align: right;
	}
}

/*--------------------------------------------------------------
# Custom Material UI icon utility classes
--------------------------------------------------------------*/
.material-icons-outlined,
.material-icons {
	vertical-align: middle;
    font-size: 1.2em;
    margin-bottom: 4px;
}

.has-material-icon:before,
.has-material-icon:after {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	margin-right: 0.25em;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased;
	margin-bottom: 0.15em;
	vertical-align: middle;
}

.has-material-icon:after {
	margin-right: 0;
	margin-left: 0.25em;
}

.has-material-icon.light-green:before,
.has-material-icon.light-green:after {
	color: #3fad6b;
}

.icon-is-circle:before,
.icon-is-circle:after {
	background: #E6E6E3;
	padding: 8px;
	border-radius: 1000px;
	color: #222;
	margin-right: 0.4em;
	margin-bottom: 0.2em;
	vertical-align: middle;
}

.icon-is-circle.black:before,
.icon-is-circle.black:after {
	background: #121212;
	color: #ffffff;
}

.icon-is-circle.orange:before,
.icon-is-circle.orange:after {
	background: #F8390F;
	color: #ffffff;
}

.icon-is-circle.purple:before,
.icon-is-circle.purple:after {
	background: #F8390F;
	color: #ffffff;
}

.icon-is-circle.blue:before,
.icon-is-circle.blue:after {
	background: #4778C2;
	color: #ffffff;
}

.icon-is-circle.green:before,
.icon-is-circle.green:after {
	background: #1B7A6C;
	color: #ffffff;
}

.icon-is-circle.yellow:before,
.icon-is-circle.yellow:after {
	background: #f9e366;
}

.has-icon-category:before,
.has-icon-category:after {
	content: "category";
}

.has-icon-shopping_cart:before,
.has-icon-shopping_cart:after {
	content: "shopping_cart";
}

.has-icon-person:before,
.has-icon-person:after {
	content: "person";
}

.has-icon-lock:before,
.has-icon-lock:after {
	content: "lock";
}

.has-icon-cloud_download:before,
.has-icon-cloud_download:after {
	content: "cloud_download";
}

.has-icon-visibility_off:before,
.has-icon-visibility_off:after {
	content: "visibility_off";
}

.has-icon-toggle_on:before,
.has-icon-toggle_on:after {
	content: "toggle_on";
}

.has-icon-alarm:before,
.has-icon-alarm:after {
	content: "alarm";
}

.has-icon-date_range:before,
.has-icon-date_range:after {
	content: "date_range";
}

.has-icon-open_in_full:before,
.has-icon-open_in_full:after {
	content: "open_in_full";
}

.has-icon-tune:before,
.has-icon-tune:after {
	content: "tune";
}

.has-icon-group:before,
.has-icon-group:after {
	content: "group";
}

.has-icon-person_add:before,
.has-icon-person_add:after {
	content: "person_add";
}

.has-icon-check:before,
.has-icon-check:after {
	content: "check";
}

.has-icon-close:before,
.has-icon-close:after {
	content: "close";
}

.has-icon-rule:before,
.has-icon-rule:after {
	content: "rule";
}

.has-icon-notifications_off:before,
.has-icon-notifications_off:after {
	content: "notifications_off";
}

.has-icon-trending_up:before,
.has-icon-trending_up:after {
	content: "trending_up";
}

.icon-is-outlined:before,
.icon-is-outlined:after {
	font-family: 'Material Icons Outlined';
}

.icon-is-before:after {
	content: none;
}

.icon-is-after:before {
	content: none;
}

.icon-inherit-font-size:before,
.icon-inherit-font-size:after {
	font-size: inherit;
}

/*--------------------------------------------------------------
# Custom alternative link styling utility classes
--------------------------------------------------------------*/
.link-alt-style-transparent-to-opaque a {
	background: none;
	font-weight: inherit;
	opacity: .6;
}

.link-alt-style-transparent-to-opaque a:hover {
	opacity: 1;
}

.link-alt-style-opaque-to-transparent a {
	background: none;
	font-weight: inherit;
	opacity: 1;
}

.link-alt-style-opaque-to-transparent a:hover {
	opacity: .6;
}

/*--------------------------------------------------------------
# Text utility classes
--------------------------------------------------------------*/
.text-uppercase {
    text-transform: uppercase;
    letter-spacing: .05em;
}

.font-light	{
	font-weight: 300;
}

.font-normal {
	font-weight: 400;
}

.font-semibold {
	font-weight: 600;
}

.font-bold {
	font-weight: 700;
}

/*--------------------------------------------------------------
# Horizontal list utility classes
--------------------------------------------------------------*/
.list-horizontal,
.list-horizontal ul {
    display: flex;
    list-style: none;
    padding: 0;
}

.list-horizontal ul {
    margin-left: 0; /* Needed to override Editor Normaiization styles */
    margin-right: 0; /* Needed to override Editor Normaiization styles */
}

.list-horizontal li {
    margin-right: 10px;
}

/*--------------------------------------------------------------
# Font size utility classes for blocks without typography controls
--------------------------------------------------------------*/
.text-extra-small {
	font-size: var(--wp--preset--font-size--extra-small);
}

.text-small {
	font-size: var(--wp--preset--font-size--small);
}

.text-normal {
	font-size: var(--wp--preset--font-size--normal);
}

.text-large {
	font-size: var(--wp--preset--font-size--large);
}

.text-extra-large {
	font-size: var(--wp--preset--font-size--extra-large);
}

.text-huge {
	font-size: var(--wp--preset--font-size--huge);
}

.text-gigantic {
	font-size: var(--wp--preset--font-size--gigantic);
}

/*--------------------------------------------------------------
# Opacity utility classes
--------------------------------------------------------------*/
.o-0 {
	opacity: 0;
}

.o-1 {
	opacity: .1;
}

.o-2 {
	opacity: .2;
}

.o-3 {
	opacity: .3;
}

.o-4 {
	opacity: .4;
}

.o-5 {
	opacity: .5;
}

.o-6 {
	opacity: .4;
}

.o-7 {
	opacity: .7;
}

.o-8 {
	opacity: .8;
}

.o-9 {
	opacity: .9;
}
