<!-- wp:group {"backgroundColor":"backgrounds","style":{"spacing":{"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"}}}} -->
<div class="wp-block-group alignfull has-background has-backgrounds-background-color" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0">

    <!-- wp:template-part {"slug":"header","tagName":"header"} /-->

    <!-- wp:group {"align":"full","className":"entry-header","layout":{"inherit":true}} -->
    <div class="wp-block-group entry-header alignfull">
        <!-- wp:post-title {"level":1,"className":"entry-title"} /-->
    </div>
    <!-- /wp:group -->

</div>
<!-- /wp:group -->

<!-- wp:group {"tagName":"main"} -->
<main class="wp-block-group">

    <!-- wp:post-featured-image {"className":"-mt-60 shadow-img rounded-img"} /-->

    <!-- wp:spacer {"height":30} -->
    <div style="height:30px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->

    <!-- wp:post-content {"layout":{"inherit":true}} /-->

    <!-- wp:spacer {"height":100} -->
    <div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->

    <!-- wp:separator {"align":"wide","className":"is-style-wide"} -->
    <hr class="wp-block-separator alignwide has-background is-style-wide"/>
    <!-- /wp:separator -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->